@@include('../layout/header.html', {
    "index": "active",
    "title": "首页"
})
    <div class="page-view index-page-view"> 
        <div class="banner">
            <a href="javascript:;" class="btn banner-btn">立即咨询  &gt;&gt;</a>
        </div>
        
        <div class="block-5G">
            <div class="container">
                <div class="item-block">
                    <div class="common-title default">
                        为什么要学5G网络优化？
                        <p class="line"></p>
                    </div>
                    <ul class="item clearfix">
                        <li class="first">
                            <i></i>
                            <h3>为什么要学5G网络优化？</h3>
                            <p>5G时代来临，正值风口，先入行者先获利，每个时代都会犒赏会选择的人，学习5G正当时。</p>
                        </li>
                        <li class="middle">
                            <i></i>
                            <h3>稳定的就业岗位 丰厚的岗位薪资</h3>
                            <p>我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。</p>
                        </li>
                        <li class="last">
                            <i></i>
                            <h3>大量需求的缺口 国内外岗位匹配。</h3>
                            <p>5G网络优化人才需求巨大并每年呈10%的速度增长，随着中国基建在全世界的拓展国外都需要大量的5G网络优化人才并且薪酬高达百万年薪。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="block-course-outline">
                <div class="common-title course-outline">
                    课程大纲
                    <p class="line"></p>
                </div>
                <div class="item">
                        
                    @@include("../components/collapse-tree.html")

                    <a href="javascript:;" class="btn course-btn">查看课程详情 &gt;&gt;</a>
                </div>

            </div>

            <!-- @@loop("../components/loop.html", "../components/loop.json") -->
        </div>
        
        <div class="block-teacher-info">
            <div class="container">
                <div class="item">
                    <img class="teacher-img" src="image/laoshi1.png" alt="">
                    <ul class="teacher-info">
                        <li class="top-info clearfix">
                            <strong>师资介绍</strong>
                            <div class="teacher-name">
                                <span class="on">苗俊平</span>
                                <span>石太平</span>
                                <span>李龙涛</span>
                                <span>张亚欧</span>
                                <span>张小平</span>
                                <span>李一一</span>
                            </div>
                        </li>
                        <li class="temp-li">
                            <div class="teacher-detail on">
                                <span>苗俊平</span>
                                <p>
                                    我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                            <div class="teacher-detail">
                                <span>石太平</span>
                                <p>
                                    石太平我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                            <div class="teacher-detail">
                                <span>李龙涛</span>
                                <p>
                                    李龙涛我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                            <div class="teacher-detail">
                                <span>张亚欧</span>
                                <p>
                                    张亚欧我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                            <div class="teacher-detail">
                                <span>张小平</span>
                                <p>
                                    张小平我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                            <div class="teacher-detail">
                                <span>李一一</span>
                                <p>
                                    李一一我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。平均薪资7000+ 无需学员投简历面试真正做到包安置管分配。我公司5G网络优化专业培训学员结业后一周内达到90%就业，两周内达到100%就业。包安置管分配。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="block-student-show">
                <div class="common-title student-show">
                    学生活动
                    <p class="line"></p>
                </div>
                <ul class="item clearfix">
                    <li>
                        <img src="image/xue1.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时</p>
                    </li>
                    <li>
                        <img src="image/xue2.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue3.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue4.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue5.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue6.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue7.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                    <li>
                        <img src="image/xue8.png" alt="">
                        <h3>学生活动</h3>
                        <p>5G时代来临，正值风口，先入行者先获利每个时代都会犒赏会选择的人，学习5G正当时…</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="block-employment">
                <div class="common-title employment">
                    学员就业
                    <p class="line"></p>
                </div>
                <div class="item">
                    <div class="panel panel-default">
                        <table class="table">
                            <tr class="theader">
                                <th>姓名</th>
                                <th>薪资</th>
                                <th>公司</th>
                                <th>就职时间</th>
                                <th>学历</th>
                            </tr>
                            <tr>    
                                <td>哼奇奇1-开始</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇2</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇3</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇4</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇5</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇6</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇7</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇8</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇9</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇10</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                            <tr>    
                                <td>哼奇奇11-结束</td>
                                <td>7600元</td>
                                <td>奇奇公司</td>
                                <td>2018/04/12</td>
                                <td>大专</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-question-answer">
            <div class="container">
                <div class="item">
                    <div class="common-title question-answer">
                        问题解答
                        <p class="line"></p>
                    </div>
                    <ul class="item-info clearfix">
                        <li>
                            <a href="javascript:;">
                                <h4>零基础能学习吗？</h4>
                                <p>专门开设零基础就业班，课程从0开始，老师定期测评，全程专人辅导。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>能申请一段时间试学？</h4>
                                <p>学生可以来校区免费试学一个月，试学满意再交学费，不满意不缴费。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>学习时间有多长？</h4>
                                <p>课程学习时长为两到三个月，工作日早上九点到下午六点上课，午间有休息。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>毕业后从事哪些岗位</h4>
                                <p>从事5G网络优化工程师、5G网络测试工程师、5G后台优化工程师等职位。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>上课方式是什么？</h4>
                                <p>线下脱产面授，采用小班授课，每个班级人数不超过20人，老师更能兼顾。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>学费不够怎么办？</h4>
                                <p>我们与银行合作分期业务，将学费分为12期。等到就业后再慢慢还给银行。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>报名流程是什么？</h4>
                                <p>咨询招生老师填写报名表，缴纳报名定金，然后老师当即发放入学通知书。</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h4>学不会怎么办？</h4>
                                <p>学不会免费重修直到学会为止 英拓是你终身职业生涯合作伙伴。</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-service">
            <div class="container">
                <ul class="item clearfix">
                    <li class="first">
                        <h3>就业安置</h3>
                        <p>培训结业后学校统一安置就业，两周内就业达100%，平均薪资7000元/月。</p>
                    </li>
                    <li class="middle">
                        <h3>生活补助</h3>
                        <p>培训期间学校统一补助每位学员生活费用1000元，保障学习期间基本生活。</p>
                    </li>
                    <li class="last">
                        <h3>职业陪伴</h3>
                        <p>就业后学校长期跟进学员工作状态，持续提供更有挑战更高薪酬的工作机会。</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block-employment-agreement">
            <div class="container">
                <div class="common-title employment-agreement">
                    学员签署协议
                    <p class="line"></p>
                </div>
                <div class="item">
                    <img src="image/6-1.png" alt="">
                    <img src="image/6-2.png" alt="">
                    <img src="image/6-3.png" alt="">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="block-cooperation">
                <div class="common-title cooperation">
                    合作企业
                    <p class="line"></p>
                </div>
                <div class="item">
                    <img src="image/-1.png" alt="">
                    <img src="image/-2.png" alt="">
                    <img src="image/-3.png" alt="">
                    <img src="image/-4.png" alt="">
                    <img src="image/-5.png" alt="">
                    <img src="image/-6.png" alt="">
                    <img src="image/-7.png" alt="">
                    <img src="image/-8.png" alt="">
                    <img src="image/-9.png" alt="">
                    <img src="image/-10.png" alt="">
                </div>
            </div>
        </div>

        <div class="block-consult">
            <a href="javascript:;" class="btn consult">查看课程详情 &gt;&gt;</a>
        </div>

    </div>

    <script>
        $('.teacher-name > span').on('click', function(e) {
            let imgNum = $(this).index() + 1
            $(this).addClass('on').siblings().removeClass('on')
            $('.teacher-detail:nth(' + $(this).index() + ')').addClass('on').siblings().removeClass('on')
            $('.teacher-img').attr('src', 'image/laoshi'+ imgNum +'.png')
        })

        let scrollTop = $('.block-employment .item').scrollTop()
        let innerHeight = $('.block-employment .item').innerHeight()
        let scrollHeight = $('.block-employment .item')[0].scrollHeight

        $(function() {
            render()
            function render() {
                let scrollH = 0
                $('.block-employment .item').scrollTop('0')
                let timer = setInterval(function() {
                    scrollH += 1
                    $('.block-employment .item').scrollTop(scrollH)
                    
                    let scrollTop = $('.block-employment .item').scrollTop()
                    let innerHeight = $('.block-employment .item').innerHeight()
                    let scrollHeight = $('.block-employment .item')[0].scrollHeight

                    if(scrollTop + innerHeight >= scrollHeight) {
                        setTimeout(function() {
                            
                            $('.block-employment .item').scrollTop('0')
                            scrollH = 0
                        }, 10)
                    }
                }, 10)
            }
        })
    </script>

@@include('../layout/footer.html', {
    "index": "active"
})