<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <p class="layer-bg"></p>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span>阶段一</span>深入浅出了解移动通信（一周）ß
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <span>第一周</span>
                <ul>
                    <li>
                        <h3>网络优化基本概念及重要性</h3>
                        <p>1、深入浅出了解移动网络优化的工作性质</p>
                        <p>2、移动网络优化在整个通信系统中存在的价值观</p>
                    </li>
                    <li>
                        <h3>通信系统基本专业词汇</h3>
                        <p>1、RSRP、SINR、CQI、RANK</p>
                        <p>2、网格、簇、RSSI、MCS等等</p>
                    </li>
                    <li>
                        <h3>OFFICE办公软件使用</h3>
                        <p>1、掌握办公软件使用</p>
                        <p>2、掌握OFFICE办公软件利用函数处理网络优化过程中的大数据处理</p>
                        <p>3、办公软件在工作中效率提升</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <p class="layer-bg"></p>
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span>阶段二</span>移动通信基础理论（三周）
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                22222
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <p class="layer-bg"></p>
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span>阶段三</span>前台系统分析优化-项目实战（四周）
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                333333
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <p class="layer-bg"></p>
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    <span>阶段四</span>后台系统分析优化-项目实战（四周）
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                44444
            </div>
        </div>
    </div>
</div>