$base-color: #FF1616;
$base-color-h: #f73636;
$base-color-d: #d80606;
// $base-bsd-color: rgba(255, 179, 71, 0.42);
// $mask-color: rgba(255, 130, 0, 0.7);
$base-bsd-color: transparent;
$mask-color: transparent;