<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>九君教育</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    @@if (context.index === 'active'){
        <link rel="stylesheet" href="./css/swiper.min.css">
    }
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/utils.js"></script>
</head>
<body>
    <!-- <header class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="./image/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#zNavBar" aria-controls="zNavBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="zNavBar">
                    <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item @@if (context.index === 'active' ) { active }">
                            <a class="nav-link" href="index.html">页面1</a>
                        </li>
                        <li class="nav-item dropdown @@if (context.about === 'active' ) { active }">
                            <a class="nav-link dropdown-toggle" id="aboutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">页面2</a>
                            <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                <a class="dropdown-item" href="javascript:;">页面2-1</a>
                                <a class="dropdown-item" href="javascript:;">页面2-2</a>
                                <a class="dropdown-item" href="javascript:;">页面2-3</a>
                            </div>
                        </li>
                        <li class="nav-item @@if (context.page === 'active' ) { active }">
                            <a class="nav-link" href="page.html">页面3</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header> -->